.env

aux_files/
aokvqa/
fvqa/
simulation/
data/
data
data_raw
coco/
wandb/
midas/
checkpoints/
multirun/
logs/

images/
ckpts*
hf_models/
Llama-2-13b-chat-hf/
llama-13b/
vicuna-13b-delta-v0/
tokens.py
ssh_rivanna
results/*
!results/auto_q_ckpts/
!results/pred/
!results/pred/instructblip-vicuna-7b/aokvqa/
!results/pred/instructblip-vicuna-7b/fvqa/
!results/pred/llava-1.5-7b-hf/aokvqa/
!results/pred/llava-1.5-7b-hf/fvqa/
!results/pred/Qwen3-VL-8B-Instruct/aokvqa/
!results/pred/Qwen3-VL-8B-Instruct/fvqa/
!results/pred/Qwen3-VL-4B-Instruct/aokvqa/
!results/pred/Qwen3-VL-4B-Instruct/fvqa/

log/
jobs/r_gen_image/
jobs/i_gen_batches/
notebooks/res_eng/
!jobs/edit/aokvqa
!jobs/edit/fvqa


# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
.ipynb_checkpoints/
.DS_Store

# any file start with test end with .ipynb
test*
old_*
finetune_*.pth
ft_*.pth
ssh