aokvqa/
fvqa/
simulation/
data/
coco/
wandb/
midas/
checkpoints/

images/
ckpts*
hf_models/
Llama-2-13b-chat-hf/
llama-13b/
vicuna-13b-delta-v0/
tokens.py
ssh_rivanna
results/*
!results/auto_q_ckpts/
log/
jobs/r_gen_image/
jobs/i_gen_batches/
notebooks/res_eng/
!jobs/edit/aokvqa
!jobs/edit/fvqa


# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
.ipynb_checkpoints/
.DS_Store

# any file start with test end with .ipynb
test*
old_*
finetune_*.pth
ft_*.pth
ssh